In [1]:
import pandas as pd
import numpy as np
from bcb import Expectativas
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [3]:
def get_expectations(indicador,anos = 0):
    data_inicial = str(datetime.today() - relativedelta(months = (1 + (anos * 12))))[:10]
    data_final = str(datetime.today() - relativedelta(months = (anos * 12)))[:10]
    em = Expectativas()
    ep = em.get_endpoint('ExpectativasMercadoTop5Anuais')
    ultima_data = ep.query().filter(ep.Indicador == 'Câmbio',ep.Data >= data_inicial,ep.Data <= data_final,ep.tipoCalculo == 'L').select(ep.Data).collect()['Data'].iloc[-1]
    df = ep.query().filter(ep.Indicador == indicador,ep.Data == ultima_data,ep.tipoCalculo == 'L').select(ep.DataReferencia,ep.Media).collect()
    df['DataReferencia'] = df['DataReferencia'].apply(int)
    return df.set_index('DataReferencia').rename({'Media':'expect'},axis = 1)

In [4]:
get_expectations('Câmbio')

                expect
DataReferencia
2023            5.2740
2024            5.2521
2025            5.2500
2026            5.3184
2027            5.1902

In [8]:
get_expectations('IPCA')

                expect
DataReferencia
2023            6.1660
2024            4.3120
2025            3.4750
2026            3.3750
2027            3.8333

In [7]:
get_expectations('Selic')

                expect
DataReferencia
2023             12.55
2024              9.90
2025              9.45
2026              9.30
2027              9.50